body {
    font-family: "Lucida Console", Monaco, monospace;
}

.quadrant {
    position: fixed;
    width: 50%;
    height: 50%;
}

.north {
    top: 0;
}

.south {
    bottom: 0;
}

.west {
    left: 0;
}

.east {
    right: 0;
}

.quote {
    padding: 25px;
}

.attribution {
    padding: 25px;
    text-align: right;
}

.time {
    padding: 25px;
}
