body {
    font-family: "Lucida Console", Monaco, monospace;
}

.quadrant {
    position: fixed;
    width: 50%;
    height: 50%;
}

.north {
    top: 0;
}

.south {
    top: 50%;
}

.west {
    left: 0;
}

.east {
    left: 50%;
}

.quote {
    height: 60%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.attribution {
    height: 20%;
    width: 100%;
    display: table-cell;
    text-align: right;
}

.time {
    height: 20%;
    width: 100%;
    text-color: gray;
    display: table-cell;
    text-align: right;
}
