body {
    font-family: Tahoma, Geneva, sans-serif;
}

.quadrant {
    position: fixed;
    width: 48%;
    height: 48%;
    border-radius: 25px;
    box-shadow: 1px 2px 10px gray;
}

.north {
    top: 1%;
}

.south {
    bottom: 1%;
}

.west {
    left: 1%;
}

.east {
    right: 1%;
}

.quote {
    padding: 25px;
}

.attribution {
    padding: 25px;
    text-align: right;
}

.time {
    padding: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(150, 150, 150);
}
